@font-face {
  font-family: "BrownPro-Bold_2.otf";
  src: url("fonts/BrownPro-Bold_2.otf");
}
@font-face {
  font-family: "BrownPro-Light_1.otf";
  src: url("fonts/BrownPro-Light_1.otf");
}
@font-face {
  font-family: "BrownPro-Regular_0.otf";
  src: url("fonts/BrownPro-Regular_0.otf");
}

* {
  font-family: "BrownPro-Regular_0.otf";
}

/*navegacion*/
body {
  margin: 0;
  background-color: #fff;
}

.topnav {
  overflow: hidden;
  margin-bottom: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #ed1b82;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  color: #c2c2c2;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}

/*logo*/
#logo {
  height: 100px;
  width: auto;
}

/*buscador*/
.btnbuscar {
  color: #fff;
  background-color: #ed1b82;
}

.btnbuscar:hover {
  color: #ed1b82;
  background-color: #c1c1c1;
}

@media screen and (max-width: 300px) {
  .search-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

/* --- Inicio --- */

.hr {
  background-color: #ed1b82;
  margin: 35px;
}

.categoriashome {
  text-align: center;
  color: gray;
  margin: 25px;
}

.posts {
  text-align: center;
  color: gray;
  margin: 25px;
}

.instagramposts iframe {
  margin-left: 70px;
  justify-content: center;
}

.nuestrasredes {
  text-align: center;
  color: gray;
  margin: 25px;
}

.redes {
  width: 250px;
  height: 389px;
  border-radius: 100px;
  font-size: 20px;
  margin: 25px;
  text-align: center;
}

.redes a {
  text-align: center;
  text-decoration: none;
  color: #ed1b82;
  background-color: grey;
}

#carrito ul li {
  margin-top: 10px;
  margin-right: 5px;
}

#carrito ul li a {
  text-decoration: none;
  color: #ed1b82;
}

#carrito ul li a:hover {
  color: #c2c2c2;
}

.fa-user {
  font-size: 20px;
  color: #ed1b82;
}

.fa-user span {
  font-weight: 400;
}

.fa-shopping-cart {
  font-size: 20px;
  font-weight: 400;
  color: #ed1b82;
}

.fa-shopping-cart span {
  font-weight: 400;
}

.fa-heart {
  font-size: 20px;
  color: #ed1b82;
}

.fa-heart span {
  font-weight: 400;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  min-width: 320px;
  position: relative;
  margin: auto;
  aspect-ratio: 7;
}

.img {
  width: 1345px;
  height: 300px;
}

/* Caption text */
.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding-left: 200;
  position: absolute;
  top: 550;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

#iconos {
  height: auto;
  width: 100%;
  background-color: #f6f6f6;
  padding: 15px;
}

#iconos i {
  font-size: 20px;
}

#entregas {
  margin: 25px;
  font-size: 16px;
}
#seguridad {
  margin: 25px;
}
#atencion {
  margin: 25px;
}

/* Footer */
.footer {
  text-align: center;
  background: #c2c2c2;
  text-align: left;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
  color: grey;
}

.flex-item-left {
  background-color: #c2c2c2;
  padding: 10px;
  flex: 33%;
}

.flex-item-center {
  background-color: #c2c2c2;
  padding: 10px;
  flex: 33%;
}

.flex-item-right {
  background-color: #c2c2c2;
  padding: 10px;
  flex: 33%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

.footer .links {
  text-align: left;
}

.footer ul li a {
  text-decoration: none;
  color: grey;
}

.footer ul li a:hover {
  color: #ed1b82;
}

/* --- Contacto --- */

#contacto {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  line-height: 1.5;
}
/*formulario de contacto*/

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #ed1b82;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: grey;
}

#formulario {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
}

/* --- Productos --- */

.tittle {
  text-align: center;
  color: #ed1b82;
  font-size: 30px;
  margin: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  margin: 25px;
  border-radius: 0px;
}

.card span {
  margin-top: -34px;
  margin-left: 2px;
  float: left;
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.card a img {
  object-fit: contain;
}

.price {
  color: grey;
  font-size: 22px;
}

.card:hover {
  opacity: 0.7;
}

.card-img-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/*Categorias de productos*/

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/* --- Nosotros --- */

.nosotros {
  margin: 15px;
}

.nosotros div {
  padding: 15px;
}

.nosotros li {
  padding-bottom: 15px;
  list-style: circle;
}

.nosotros div h3 {
  color: #ed1b82;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #ed1b82;
  color: white;
  transform: rotateY(180deg);
}

/* --- Servicio post-Venta --- */

.servicio {
  color: grey;
  margin: 80px;
  font-size: 18px;
  line-height: 1.8;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#engranaje {
  font-size: 150px;
  color: #ed1b82;
  gap: 20px;
}

.h3 {
  font-size: 40px;
  color: #ed1b82;
}

.service {
  margin: 25px;
  padding-bottom: 25px;
}

.boton a {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  background-color: #ed1b82;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
}

.boton a:hover {
  color: #000;
  background-color: #c1c1c1;
}

.video {
  height: 100px;
  width: 150px;
}

/* --- Trabaja con nosotros --- */

.titulo {
  text-align: center;
  font-size: 40px;
  color: #ed1b82;
}

.containerrrhh {
  margin: 15px;
  padding: 15px;
  text-align: center;
}
.fa-users {
  font-size: 150px;
}

.txtlinkedin {
  font-size: 25px;
  color: #ed1b82;
}

.textolinkedin {
  margin-top: 35px;
  color: grey;
}
.linkedin {
  margin: 15px;
  display: flex;
}

.imagenlinkedin img {
  margin-left: 60px;
  height: 125px;
  width: 125px;
}

.txtmail {
  font-size: 25px;
  color: #ed1b82;
}

.textomail {
  margin-top: 35px;
  color: grey;
}

.mail {
  margin: 15px;
  display: flex;
  margin-bottom: 55px;
}

.imagenmail img {
  margin-left: 60px;
  height: 125px;
  width: 125px;
}

/*search*/
form.buscador input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #c1c1c1;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.buscador button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ed1b82;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.buscador button:hover {
  background: #c1c1c1;
}

form.buscador::after {
  content: "";
  clear: both;
  display: table;
}

/*Boton de Whatsapp*/

.btn_popup {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
  color: #333435;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  position: fixed;
  bottom: 30px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 999999999;
  right: 30px;
  left: unset;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.btn_popup:hover {
  transform: rotate(360deg);
}

.wa__btn_popup_txt {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 156px;
  right: 100%;
  background-color: #f5f7f9;
  font-size: 12px;
  color: #43474e;
  top: 15px;
  padding: 7px 0 7px 12px;
  margin-right: 7px;
  letter-spacing: -0.03em;
  -webkit-border-radius: 4px;
  -webkit-transition: 0.4s ease all;
  left: 100%;
  display: none;
}
.wa__btn_popup_icon {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
  color: #333435;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, 0.5);
  background: #2db742;
}
.wa__btn_popup_icon::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent url(/source/whatsapp_1.png) center center no-repeat;
  background-size: 100px auto;
  -webkit-background-size: 30px auto;
  -moz-background-size: 30px auto;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  transform: translateX(360);
}

.wa__btn_popup_icon::after {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent url(/source/whatsapp_1.png) center center no-repeat;
  background-size: 50px auto;
  -webkit-background-size: 50px auto;
  -moz-background-size: 14px auto;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -ms-transform: scale(0) rotate(-360deg);
  transform: scale(0) rotate(-360deg);
  -webkit-transform: scale(0) rotate(-360deg);
  -moz-transform: scale(0) rotate(-360deg);
}

#cajadecontactoWhatsApp {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  color: #333435;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 351px;
  -webkit-border-radius: 5px 5px 8px 8px;
  position: fixed;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.04);
  bottom: 120px;
  right: 30px;
  z-index: 999999998;
  -webkit-transition: 0.4s ease all;
  will-change: transform, visibility, opacity;
  max-width: calc(100% - 50px);
  left: unset;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
  display: none;
}

.wa__popup_heading {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 15px 43px 17px 74px;
  color: #d9ebc6;
  background: #2db742;
}

.wa__popup_heading::before {
  content: "";
  background: url(/source/whatsapp_1.png) center top no-repeat;
  background-size: 33px;
  display: block;
  width: 55px;
  height: 33px;
  position: absolute;
  top: 20px;
  left: 12px;
}

.wa__popup_title {
  text-rendering: optimizeLegibility;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  padding-top: 2px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.wa__popup_intro {
  text-rendering: optimizeLegibility;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  padding-top: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.8;
}

.wa__popup_content .wa__popup_content_left {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 13px 20px 21px 19px;
  text-align: left;
}

.wa__popup_chat_box .wa__popup_content {
  background: #ffffff;
  padding: 13px 20px 21px 19px;
  text-align: center;
}
.wa__popup_notice {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  font-size: 16px;
  color: #a5abb7;
  font-weight: 500;
  padding: 0 3px;
}

.wa__popup_content_list {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  color: #333435;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

.wa__popup_content_item {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  color: #333435;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

.wa__stt .wa__stt_online {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  color: #333435;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  padding: 13px 40px 12px 74px;
  position: relative;
  text-decoration: none;
  display: table;
  width: 100%;
  background: #f5f7f9;
  -webkit-border-radius: 2px 4px;
  border-left: 2px solid #2db742;
  -webkit-transition: 0.2s ease all;
}

.wa__popup_chat_box .wa__stt.wa__stt_online {
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
}

.wa__popup_chat_box .wa__stt {
  border-left: 2px solid #2db742;
}

.wa__popup_chat_box .wa__stt {
  padding: 13px 40px 12px 74px;
  position: relative;
  text-decoration: none;
  display: table;
  width: 100%;
  border-left: 2px solid #2db742;
  background: #f5f7f9;
  border-radius: 2px 4px;
  -webkit-border-radius: 2px 4px;
  -moz-border-radius: 2px 4px;
}

.wa__stt_online::before {
  content: "";
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  will-change: opacity;
}
.wa__btn_popup .wa__btn_popup_icon:after {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent url(/source/whatsapp_1.png) center center no-repeat;
  background-size: 14px auto;
  -webkit-background-size: 14px auto;
  -moz-background-size: 14px auto;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -ms-transform: scale(0) rotate(-360deg);
  transform: scale(0) rotate(-360deg);
  -webkit-transform: scale(0) rotate(-360deg);
  -moz-transform: scale(0) rotate(-360deg);
}

.wa__popup_avatar {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  color: #333435;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  overflow: hidden;
  -webkit-border-radius: 50%;
  left: 12px;
  top: 12px;
}

.wa__cs_img_wrap {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  color: #333435;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  width: 48px;
  height: 48px;
  background: url(/source/banners/image001.jpg) center center no-repeat;
  background-size: 48px 48px;
}

.wa__popup_txt {
  line-height: 1.4285em;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  color: #333435;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  display: table-cell;
  vertical-align: middle;
  min-height: 48px;
  height: 48px;
}

.wa__member_name {
  text-rendering: optimizeLegibility;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  color: #363c47;
  line-height: 1.188em !important;
}

.wa__member_duty {
  text-rendering: optimizeLegibility;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-align: left;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  font-size: 11px;
  color: #989b9f;
  padding: 2px 0 0;
  line-height: 1.125em !important;
}

.wa__popup_chat_box .wa__stt:after {
  content: "";
  background: url(/source/whatsapp_1.png) 0 0 no-repeat;
  position: absolute;
  right: 14px;
  top: 26px;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
